<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        <!--<!DOCTYPE web-app PUBLIC
         "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
         "http://java.sun.com/dtd/web-app_2_3.dtd" >
        <web-app>-->

  <display-name>demo-servlet</display-name>

<!--  <context-param>-->
<!--    <param-name>contextConfigLocation</param-name>-->
<!--    <param-value>application-context.xml</param-value>-->
<!--  </context-param>-->

<!--  <servlet>-->
<!--    <servlet-name>demoDispatcher</servlet-name>-->
<!--    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--    <init-param>-->
<!--      <param-name>contextConfigLocation</param-name>-->
<!--      <param-value>demo-servlet.xml</param-value>-->
<!--    </init-param>-->
<!--    <load-on-startup>1</load-on-startup>-->
<!--  </servlet>-->

  <!--  测试GenericServlet 方式的Servlet   -->
  <servlet>
    <servlet-name>MyGenericServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.MyGenericServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyGenericServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <!--  测试GenericServlet -->

  <!--  测试HttpServlet方式的Servlet -->
  <servlet>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.MyHttpServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/httpservlet</url-pattern>
  </servlet-mapping>
  <!--  测试HttpServlet方式的Servlet -->

  <!--  测试FromServlet方式的Servlet -->
  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.function.FormServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <!--  测试FromServlet方式的Servlet -->

  <!--  测试LoginServlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.function.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <!--  测试LoginServlet -->

  <!--  测试SessionServlet -->
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.function.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/getsession</url-pattern>
  </servlet-mapping>
  <!--  测试SessionServlet -->


  <!--  测试load-on-startup   -->
  <servlet>
    <servlet-name>StartupNegetiveServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.StartupNegetiveServlet</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>StartupPositiveServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.StartupPositiveServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>StartupZeroServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.StartupZeroServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <!--  测试load-on-startup   -->

  <!--  测试参数 Headers ServletConfig ServletContext  -->
  <servlet>
    <servlet-name>HeadersServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.HeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadersServlet</servlet-name>
    <url-pattern>/httpheader</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletContextServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.ServletContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextServlet</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>developer</param-name>
    <param-value>wangchaodee</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>wangchaodee@qq.com</param-value>
  </context-param>

  <servlet>
    <servlet-name>ServletConfigServlet</servlet-name>
    <servlet-class>com.iflytek.staff.chao.config.ServletConfigServlet</servlet-class>
    <init-param>
      <param-name>myname</param-name>
      <param-value>wangchaodee</param-value>
    </init-param>
    <init-param>
      <param-name>servlet-name</param-name>
      <param-value>ServletConfigServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigServlet</servlet-name>
    <url-pattern>/servletConfig</url-pattern>
  </servlet-mapping>
  <!--  end  -->

  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
</web-app>
